<% @entries.each do |entry| %>
  <div class="entry">
    <h2 class="title"><%= link_to entry.title, entry %><span class="author">By <%= entry.author %></span></h2>
    <div class="body"><%= entry.body %></div>
  </div>
  <hr />
<% end %>
<h3 id="more"><%= link_to "More ->", entries_path %></h3>
